a{
  /* text-decoration: none; */
}

.main-div{
  height: auto;
  width: 100%;
}
/* pccoe logo image */
.pccoe-logo{
  height: 120px;
    width:130px;

}

/* pccoe logo div */
.pccoe-logo-div{
margin-top: 10px;
}

.header{
  /* height: 150px; */
  /* margin-top: 15px; */
  text-align: center;
  background-color: #87CEEB;
  padding-bottom: 20px;
}

.header .heading{
  margin-top: 20px;

}

.header h1{
  font-size: 1.5rem;
  font-weight: bold;
  color:red;
}

.header h3{
  font-size: 0.8rem;
  font-weight: bold;
}

#carouselExampleControls{
  height:500px;
}

#carouselExampleControls img{
  height: 500px;
}


/* carousel text div */
.carousel-caption{
  top: 50%;
transform: translateY(-50%);
}

/* carousel text */
.carousel-caption h1{
  font-family: 'Gemunu Libre', sans-serif;
  /* font-family: 'Stick No Bills', sans-serif; */
  color: #3DB2FF;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 1px 1px 	red;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* media queries for mobile view */
@media (max-width:1028px){
.side-news-div{
  display: none;
  /* visibility: hidden; */
}

.middle-div{
  text-align: center;
}

.carousel-caption h1{
  font-size: 2.5rem;
  }

.pccoe-logo-div{
margin-top: 30px;
}

}

/* ----------------------------------------------------------------------------------------------------------------- */

/* carousel styles */
.carousel-my-style{
margin: 0px 5px;
}


.second-div-container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;
}


.middle-div{
  height: auto;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
}



.side-news-div{
  width: 230px;
  text-align: center;
  border-style: solid;
}

.side-news-div h5{
  padding: 5px;
  width:225px;
  font-size: 18px;
  color: white;
  /* margin-top: 10px; */
  background-color: #1E90FF;
}

.side-news-data{
  font-size: 13px;
  font-weight: bold;
}

.side-news-data li{
  background-color: #AFEEEE;
  margin: 10px 0px;
  height: auto;
  padding: 10px;
}


.about-us-div{
  height: 300px;
  width: 430px;
padding: 20px;
margin-left: 80px;
  border-style: none solid solid solid;
  border-width: 2px;
  border-color: #87CEEB;
}

.about-us-div h5, .hod-div h5{
  background-color: #1E90FF;
  padding: 5px;
  color: white;
}

.about-us-div p, .hod-div p{
  text-align: justify;
}

.about-us-div img{
  height: 120px;
  width: 110px;
  float: left;
  margin-right: 15px;
}

 .hod-div{
height: 300px;
width: 430px;
padding: 20px;
margin-left: 150px;
border-style: none solid solid solid;
border-width: 2px;;
border-color: #87CEEB;
}

.hod-div img{
  float: left;
  padding-right: 10px;
}

hr{
  border-top: 1px solid black;
  width: 80%;
  margin: 25px auto;
}

.bottom-div{
  height: auto;
  margin-top:20px;
  background-color: #87CEEB;
  padding: 20px 10px;
}



.news-div{
padding: 10px;
  height: 250px;
  width:500px;
  margin: 30px 0px 0px 20px;
  border-style: solid;
  border-width: thin;
  background-color: #AFEEEE;
}

.news-div h5{
  margin: 5px 10px 0px 5px;
  font-size: 24px;
}

.news-data{
  float: left;
  width: 200px;
  height:200px;
  padding: 20px;
}
.news-img img{
  float: right;
  width:250px;
  height:180px;
}


/* ---------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body
{
  font-family:'Poppins',Quicksand;
}
.wrapper{
  height: 100%;
  width: 300px;
  position: relative;
}
.wrapper .menu-btn{
  position: fixed;
  margin-top: 200px;
  left: 20px;
  top: 10px;
  background: #4a4a4a;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 100;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  animation: glowing 2000ms infinite;
}
#btn:checked ~ .menu-btn{
  left: 247px;
}
.wrapper .menu-btn i{
  position: fixed;
  transform: ;
  font-size: 23px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  transform: rotate(180deg);
}
#sidebar{
  /* margin-top: -135px; */
  /* -190 */
  position: fixed;
  background: 	#404040;
  height: 100%;
  width: 200px;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
  z-index: 100;
}



#btn:checked ~ #sidebar{
  left: 0;
}
#sidebar .title{
  line-height: 65px;
  text-align: center;
  background: #333;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2  ;

  border-bottom: 1px solid #222;
}
#sidebar .list-items{
  position: relative;
  background: 	#404040;
  width: 100%;
  height: 100%;
  list-style: none;
}
#sidebar .list-items li{
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}
#sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}
#sidebar .list-items li:first-child{
  border-top: none;
}
#sidebar .list-items li a{
  color: #f2f2f2;

  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}
#sidebar .list-items li a i{
  margin-right: 20px;
}
#sidebar .list-items .icons{
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar .list-items .icons a{
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  /*  */
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}
#sidebar .list-items .icons a:hover{
  background: #404040;
}
.list-items .icons a:first-child{
  margin-left: 0px;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ADD8E6;
  /* #202020 */
  z-index: -1;
  width: 100%;
  text-align: center;
}
.content .header{
  font-size: 45px;
  font-weight: 700;
}
.content p{
  font-size: 40px;
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left middle middle middle middle right'
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.left,
.middle,
.right {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {

.about-us-div{
  width: 100%;
  margin-left: -0px;
  margin-bottom: 20px;
}

.about-us-div p{
  font-size: 12px;
}

  .hod-div{
    width: 100%;
    margin-left: 0px;
  }

  .hod-div p{
    font-size: 11px;
  }

  .hod-div span{
    float: left;
  }

/* bottom div news section */

  .news-div{
  padding: 10px;
    height: 200px;
    width:330px;
    }

  .news-div h5{
    margin: 5px 10px 0px 5px;
    font-size: 13px;
  }

  .news-data{
    /* float: left; */
    width: 170px;
    height:100px;
    padding: 10px;
  }
  .news-img img{
    /* float: right; */
    width:120px;
    height:100px;
  }


  .grid-container  {
    grid-template-areas:
      'header header header header header header'
      'left left left left left left'
      'middle middle middle middle middle middle'
      'right right right right right right'
      'footer footer footer footer footer footer';
  }
}
.w3-container w3-green
{
  background-color: white;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.button {
  border-radius: 4px;
  background-color: #6495ED;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

      table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* ---------------------------- menu button glow effect ------------------------------------ */
     @keyframes glowing {
       0% {
         background-color: #1E90FF;
         box-shadow: 0 0 5px #2ba805;
       }
       50% {
         background-color: #00BFFF;
         box-shadow: 0 0 20px #49e819;
       }
       100% {
         background-color: #87CEEB;
         box-shadow: 0 0 5px #2ba805;
       }
     }


     /* --------------------------------------------------  Top News section ----------------------------------------------*/


#all_news {
    background: #002b3b;
    width: 100%;
    height: 33px;
  margin: 10px  10px 5px 5px;

    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px;
    position: relative;
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5)
}

#all_news span {
    float: left;
    color: rgba(0, 0, 0, .8);
    color: #fff;
    background: #00425a;
    padding: 6px;
    position: relative;
    border-radius: 4px;
    font-size: 12px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.5);
    background: rgb(0, 75, 103);
    background: -moz-linear-gradient(top, rgba(0, 75, 103, 1) 0%, rgba(0, 53, 72, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 75, 103, 1) 0%, rgba(0, 53, 72, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 75, 103, 1) 0%, rgba(0, 53, 72, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 75, 103, 1) 0%, rgba(0, 53, 72, 1) 100%);
    background: linear-gradient(top, rgba(0, 75, 103, 1) 0%, rgba(0, 53, 72, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004b67', endColorstr='#003548', GradientType=0)
}

@media (max-width:1028px){
#all_news ul {
margin-left: 70px
}
}

#all_news ul {
    float: left;
    padding-left: 20px;
    -webkit-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
    -moz-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
    -ms-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
    animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite
}

#all_news ul:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused
}

#all_news li {
    line-height: 25px
}

#all_news a {
    color: #fff;
    text-decoration: none;
    font-size: 13px
}

@-webkit-keyframes ticker {
    0% {
        margin-top: 0
    }

    25% {
        margin-top: -26px
    }

    50% {
        margin-top: -52px
    }

    75% {
        margin-top: -78px
    }

    100% {
        margin-top: 0
    }
}

@-moz-keyframes ticker {
    0% {
        margin-top: 0
    }

    25% {
        margin-top: -26px
    }

    50% {
        margin-top: -52px
    }

    75% {
        margin-top: -78px
    }

    100% {
        margin-top: 0
    }
}

@-ms-keyframes ticker {
    0% {
        margin-top: 0
    }

    25% {
        margin-top: -26px
    }

    50% {
        margin-top: -52px
    }

    75% {
        margin-top: -78px
    }

    100% {
        margin-top: 0
    }
}

@keyframes ticker {
    0% {
        margin-top: 0
    }

    25% {
        margin-top: -26px
    }

    50% {
        margin-top: -52px
    }

    75% {
        margin-top: -78px
    }

    100% {
        margin-top: 0
    }
}
